.bg-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.text-on-picture{
    position: absolute;
    height: -webkit-fill-available;
    top: 0;
    z-index: 4;
    background: #00000061;
    left: 25%;
    right: 50%;
    text-align: center;
    width: 100%;
}

.text-on-picture p{
    color: white;
}

.text-on-picture h2{
    color: white !important;
    font-size: 4.5rem;
    margin-bottom: 2rem;
}

.concept p {
    color: white;
}

@media only screen and (max-width: 750px) {

    .concept .bg-image{
        display: none;
    }

    .concept {
        background: #6a6a6a !important;
    }

    .text-on-picture {
        display: none;
    }
}

@media only screen and (max-width: 950px) {
    .concept {
        display: none !important;
    }

    .text-on-picture {
        display: none;
    }
}