.home-contact h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    letter-spacing: -3px;
    color: #4c4c4c;
    font-size: 3.5rem;
}

.home-contact{
    text-align: center;
}

.home-contact iframe {
    height: -webkit-fill-available;
}

.form-contact input {
    border: unset;
    border-radius: 3rem;
    padding: 5px;
}

.form-contact textarea {
    overflow: auto;
    resize: vertical;
    border: unset;
    width: 74%;
    border-radius: 1rem;
}

.bouton-itineraire {
    background: #6a6a6a;
    border: none;
    color: #ffffff;
    padding: 0.5rem 2rem;
    font-weight: bold;
    border-radius: 21px
}

.bouton-itineraire:hover {
    background: white;
    transition: 0.5s;
    color: #333;
}

.horaires br {
    display: none;
}

.horaires p {
    margin-bottom: unset  !important;
}

.horaires {
    margin-bottom: 3rem;
}

.home-contact h2 {
    border-bottom: solid #f3d84a 3px;
    width: fit-content;
    margin: auto;
}

.form-contact {
    display: block;
    padding-top: 4rem;
    margin-bottom: 3rem;
}

.form-contact h3 {
    font-size: 3.5rem;
    margin-bottom: 2rem;
    border-bottom: solid #F9D70C 4px;
    width: max-content;
}

.form-contact label {
    display: block;
}

.form-contact input[type="submit"]{
    background: unset;
    border: unset;
    color: white;
    padding: unset;
}

.google-map {
    padding-top: 12rem;
}

.google-map iframe {
    width: 100%;
}

@media only screen and (max-width: 800px) {
    .home-contact iframe {
        height: 490px;
    }

    .horaires {
        margin-top: 2rem;
    }

    .home-contact {
        text-align: center;
    }

    .google-map {
        padding-top: 0rem;
    }
}