.home-contact h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    letter-spacing: -3px;
    color: #4c4c4c;
    font-size: 3.5rem;
}

.home-contact{
    text-align: center;
}

.home-contact iframe {
    height: -webkit-fill-available;
}

.bouton-itineraire {
    background: #6a6a6a;
    border: none;
    color: #ffffff;
    padding: 0.5rem 2rem;
    font-weight: bold;
    border-radius: 21px
}

.bouton-itineraire:hover {
    background: white;
    transition: 0.5s;
    color: #333;
}

.horaires br {
    display: none;
}

.horaires p {
    margin-bottom: unset  !important;
}

.horaires {
    margin-bottom: 3rem;
}

@media only screen and (max-width: 800px) {
    .home-contact iframe {
        height: 490px;
    }

    .horaires {
        margin-top: 2rem;
    }

    .home-contact {
        text-align: center;
    }
}