/*
General class
 */
p, a {
    font-family: 'Rubik', sans-serif;
    color: #4c4c4c;
}

h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}

h1, h2 {
    letter-spacing: -3px;
}

h2 {
    color: white;
    font-size: 3.5rem;
}

.bg-yellow {
    background-color: #F9D70C;
}

.bg-light-yellow {
    background-color: #FEF9EA;
}

.bg-grey {
    background-color: #6a6a6a;
}

.yellow-color {
    color: #F9D70C;
}

.color-white {
    color: white;
}

.color-grey{
    color: #6a6a6a;
}

.d-none {
    display: none;
}

.w-100 {
    width: 100%;
}

/***
Menu
***/

.menu-primary-container {
    position: fixed;
    width: 100%;
    z-index: 10;
    background: #F9D70C;
    padding: 1rem 0;
    -webkit-box-shadow: 5px 5px 15px 5px #A4A4A4;
    box-shadow: 5px 5px 15px 5px #00000030;
}

ul#menu-primary {
    display: inline-flex;
    width: 100%;
    list-style: none;
    padding: unset;
    margin-bottom: 0;
}

ul#menu-primary li {
    text-align: center;
    margin: auto;
}

ul#menu-primary li a {
    color: #2e2e2e;
    font-weight: bold;
}

.btn-call {
    position: fixed;
    background: #6a6a6a;
    bottom: 12px;
    padding: 11px;
    border-radius: 2rem;
    left: 10px;
    z-index: 11;
    -webkit-box-shadow: 5px 5px 15px 5px #A4A4A4;
    box-shadow: 5px 5px 15px 5px #00000030;
}

.btn-call:hover {
    background: #F9D70C;
    transition: 0.5s;
}

.btn-call img {
    width: 30px;
}

@media only screen and (max-width: 750px) {
    h2 {
        color: white;
        font-size: 2.5rem;
    }
}
