/*
General class
 */
p, a {
    font-family: 'Rubik', sans-serif;
    color: #4c4c4c;
}

h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}

h1, h2 {
    letter-spacing: -3px;
}

h2 {
    color: white;
    font-size: 4.5rem;
}

h2.wp-block-heading {
    color: #6a6a6a;
    border-bottom: solid #f3d84b 7px;
    width: max-content;
    margin: auto;
    font-size: 3.5rem;
    margin-bottom: 3rem;
    margin-top: 3rem
}

h3 {
    color: #6a6a6a;
}

.bg-yellow {
    background-color: #F9D70C;
}

.bg-light-yellow {
    background-color: #FEF9EA;
}

.bg-grey {
    background-color: #6a6a6a;
}

.yellow-color {
    color: #F9D70C;
}

.color-white {
    color: white;
}

.color-grey {
    color: #6a6a6a;
}

.d-none {
    display: none;
}

.w-100 {
    width: 100%;
}

.btn-call {
    position: fixed;
    background: #6a6a6a;
    bottom: 12px;
    padding: 11px;
    border-radius: 2rem;
    right: 10px;
    z-index: 11;
    -webkit-box-shadow: 5px 5px 15px 5px #A4A4A4;
    box-shadow: 5px 5px 15px 5px #00000030;
}

.btn-call:hover {
    background: #F9D70C;
    transition: 0.5s;
}

.btn-call img {
    width: 30px;
}

@media only screen and (max-width: 750px) {
    h2 {
        color: white;
        font-size: 2.5rem;
    }
    .header-instit h2 {
        width: max-content !important;
        padding: 2rem 2rem !important;
    }

}

aside.country-selector.weglot-inline.weglot-default.wg-.weglot-invert {
    display: none;
}

.header-instit {
    position: relative;
    height: 70vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header-instit h2 {
    margin: auto;
    width: max-content;
    border-bottom: solid 4px #efd965;
    text-align: center;
    background: #2d2d2da3;
    padding: 3rem 12rem;
    transform: translate(10px, 220px);
}

.bloc-image img {
    width: 100%;
    height: unset !important;
    position: relative;
}

.bloc-image{
    height: 495px;
    padding: 2rem;
    background: #f5dd65;
}

